<div class="content">
  
  <div class="cards">
    <% @markets.each do |market| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://unsplash.com/photos/k2ZCm7LCj8E)">
      <h4><%= market.name %></h4>
    </div>
    <% end %>
  </div>

  <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


</div>    







